.signUp,
.Header,
.Links,
.Login {
    margin: 0 auto;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    width: 40%;
}

.signUp,
.Links,
.Login {
    margin-left: 40%;
}

.Header {
    width: 30%;
    padding-left: 10%;
    padding-top: 10%;
}

.Links {
    padding: 20px;
}

input[type=file] {
    display: none;
}


.custom-file-upload {
    padding: .2em .4em;
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid grey;
    display: inline-block;
    padding: 12px 40px;
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 12px 24px;
    cursor: pointer;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;

}

#Firstname,
#Lastname,
#Email,
#Password,
#City,
#Age {
    background-color: white;
    width: 230px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid grey;
}

input:focus {
    outline: none;
}

/*Error*/
p {
    color: red;
    font-size: 14px;
}